<div class="ui large top  menu">

    <div class="item">

      <a href="http://www.ggled.net"><img class="ui small image" src="http://www.empireltg.com/uploads/2/6/0/1/26016310/gg-led-logo_1_orig.jpg" ></a>

    </div>

    <div class="header item" id="title">

      WPX Calculator

    </div>
    <a class="item">input</a>
    <a class="item">output</a>
    <a class="item">analysis</a>



</div>
<div class="ui container">
  {{outlet}}
</div>  
