<div>

  <div class="ui blue menu">

      <a href="http://www.ggled.net"><img class="ui small image" src="http://www.empireltg.com/uploads/2/6/0/1/26016310/gg-led-logo_1_orig.jpg" ></a>
      <a class="item" href="input">INPUT</a>
      <a class="item" href="output">OUTPUT</a>
      <a class="item" href="analysis">ANALYSIS</a>

  </div>

</div>
{{!-- Christian Use the UI Container Class --}}
<div class="ui container">
  <div class="row">
      <div class="col-md-12">
        {{outlet}}
      </div>
  </div>
</div>
