<header>

            <div class="row">

                <div class="column2" id="header-pic">

                    <a href="http://www.ggled.net"><img src="http://www.empireltg.com/uploads/2/6/0/1/26016310/gg-led-logo_1_orig.jpg"/></a>

                </div>

                <div class="column8" id="title">

                <h1>WPX Calculator</h1>

                </div>

                <div class="column2">

                <ul>
                    <li>INPUT</li>
                    <li>OUTPUT</li>
                    <li>ANALYTICS</li>
                </ul>

              </div>

            </div>

        </header>



{{outlet}}
